<div id="partners">

<h2 class="center">Partners</h2>

<a name="hosting"></a>
<a href="http://www.anchor.com.au" title="Anchor Systems"><img  class="howitworksicon" src="/anchorwhiteshadow2001.png" alt="Anchor Systems" /></a>
<h3 style="line-height: 60px;">Enterprise level hosting</h3>

<p>Drupal sites can consume large amounts of hosting resources, which can cause performance issues on hosting infrastructure that is not a good match for the resource needs of your site.</p>

<p>We can evaluate your current hosting situation and if required, we can arrange for your site to be moved to reliable, managed hosting at our partner host, <a href="http://www.anchor.com.au">Anchor Systems</a>. Founded in 2000, Anchor is a global provider of managed hosting services for business critical websites and web applications.</p>

<p>Anchor specialises in creating innovative and scalable hosting solutions for their customers, bringing deep DevOps & Systems Administration expertise that is unique in the hosting industry. With AWS management and OpenStack cloud infrastructure spanning three data centres in Australia and the USA, they can build a solution to meet your needs.</p>

<a name="monitoring"></a>
<p>Additionally, if Anchor is hosting your site, they can set up 24/7 monitoring to ensure your site has minimal downtime. If you host elsewhere we can help you set up monitoring to fit your needs and budget.</p>

<a name="marketing"></a>
<a href="http://www.endressanalytics.com" title="Endress Analytics"><img class="howitworksicon" src="/endress.png" alt="Endress Analytics"></a><h3 style="line-height: 120px;">Analytics & Digital Strategy</h3>

<p>Do you need more visitors or to raise your site's profile? We can tailor a digital marketing strategy for your Drupal site that will raise your site's visibility through a combination of social media campaigns and paid advertising.</p>

<p>To improve conversion of existing visitors we can help you take your existing analytics data from either Google or Adobe sources and use this data to understand what your visitors are really doing on your site. We then use that understanding to improve the user's experience on your site. If you do not already have analytics set up on your site, we can help you with that too.</p>


<!-- <li>Monitoring</li>
<li>Digital Marketing</li>
<li>Backups</li> -->

</div>